.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 0.6rem 1rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.2);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  font-weight: 800;
}

.profileImage {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: gray;
  color: black;
  text-align: center;
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0.3);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card form {
  display: flex;
  flex-direction: column;
  min-width: 230px;
  gap: 10px;
  transition: transform 200ms;
}
.card form span {
  font-size: 1rem;
  font-weight: 600;
}

.card form input[type='submit'] {
  background: rgba(var(--card-rgb), 0.8);
  border: none;
  color: white;
  border-radius: var(--border-radius);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.card form input[type='submit']:disabled {
  background: rgba(255, 0, 0, 0.2);
  color: gray;
  cursor: not-allowed;
}

.card form * {
  display: flex;
  justify-content: space-between;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 120px;
    max-width: 320px;
    text-align: center;
  }

  .card {
    padding: 1rem 2.5rem;
  }

  .card h2 {
    margin-bottom: 0.5rem;
  }
}
